.main {
    width: 95%;
    height: 65%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0.4rem 0.4rem 1.2rem;
    border-radius: 10px;
    margin-bottom: 5%;
    overflow-y: auto;
    // border: 2px solid rgb(82, 26, 135);
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    // height: 90%;
    color: #2e2640;
    // overflow-y: auto;

    // margin-top: 5%;

}

.nomeEmpresa {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20%;
    border-bottom: 1px solid #000 ;

}

.info {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.iniciativaSelected {
    border: 2px solid rgb(82, 26, 135);
    background-color: #2e2640;
    // box-shadow: 0px 0px 0px 10px rgb(82, 26, 135); // Opcional: para adicionar um leve sombreado ao redor do card
}