
.cadastroGeral{
    background-image: url('../../../assets/fundointeli.jpg');
    margin: 0;
    margin-top: -12px;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.teste{
    background-color: rgb(126, 126, 255);
    width: 300px;
    height: 300px;
}

.botao {

    height: 70px !important;
    display: flex;
    justify-content: end;
    margin-right: 5%;

}