
.visualGeral{
    padding-top: 12vh;
    // background-color: #007bff;
}

.kanbanContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 75vh;
}

.kanbanColumn {
    flex: 1;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    width: 35vw;
    left: 50%;
    transform: translateX(-50%);
}

.statusButton {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    // cursor: pointer;
    font-weight: bold;
}

.green {
    background-color: #5cb85c;
    color: white;
}

.blue {
    background-color: #007bff;
    color: white;
}

.yellow {
    background-color: #ffc107;
    color: black;
}

.newProjectButton {
    // // display: block;
    // margin: 20px auto;
    // padding: 10px 20px; //Atualizar pra vh e vw
    // background-color: #A183E3;
    // color: #fff;
    // border: none;
    // border-radius: 5px;
    // cursor: pointer;
    height: 50px !important;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
