.visualGeral {
    padding-top: 12vh;
    background-color: #E7E3F0;
    color: black;
    min-height: 100vh;
  }

  .welcomeMessage {
    text-align: center;
    padding: 20px 0;
    
    p {
        font-size: 24px;
        margin: 0;
        color: black;
        
        strong {
            font-weight: bold;
        }
    }
    
    h1 {
        font-size: 32px;
        margin-top: 10px;
        color:black;
    }
}
  
  .kanbanContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .column {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    padding: 15px;
    min-width: 300px;
    max-width: 300px;
  
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  
  .card {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.03);
    }
  
    .nomeModulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  
      strong {
        margin-right: 5%;
        font-weight: bold;
      }
    }
  
    p {
      margin-bottom: 5px;
    }
  
    .button {
      display: flex;
      justify-content: flex-end;
  
      button {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  
  .green {
    background-color: gainsboro;
    color: black;
  }
  
  .blue {
    background-color: lightblue;
    color: black;
  }
  
  .yellow {
    background-color: gainsboro;
    color: black;
  }
  
  .newProjectButton {
    height: 50px !important;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    color: #FF4545;
  }
  
